@model IEnumerable<Consume_WEB_API.Models.Utilisateur>

@{
    ViewBag.Title = "Utilisateur";
}

<center>
    <h2>Liste d'utilisateurs</h2>


    <table class="table">
        <tr>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Civilitie)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Name)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Firstame)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.SecuNb)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Adress.CityName)
                </center>
            </th>
            <th>
                <center>
                    <p>Fonctions</p>
                </center>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            <center>
                @Html.DisplayFor(modelItem => item.Civilitie)
            </center>
        </td>
        <td>
            <center>
                @Html.DisplayFor(modelItem => item.Name)
            </center>
        </td>
        <td>
            <center>
            @Html.DisplayFor(modelItem => item.Firstame)
            </center>
        </td>
        <td>
            <center>
            @Html.DisplayFor(modelItem => item.SecuNb)
            </center>
        </td>
        <td>
            <center>
                @Html.DisplayFor(modelItem => item.Adress.CityName)
            </center>
        </td>
        <td>
            <center>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </center>
        </td>
    </tr>
        }

    </table>
</center>
